.how_header_bg {
  background: url("../../images/how/how_header_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
}

.contained {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 122px;
}
