.sneakpeak_header {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #2e2e2e;
}

.sneakpeak_span_color {
  color: #ec681c;
}

.count_header {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  color: #ffffff;
}

.count_text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .sneak_peak_sm {
    margin-top: -200px;
  }

  .sneakpeak_header {
    text-align: center;
  }

  .count_header {
    text-align: center;
  }

  .count_text {
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .sneak_peak_sm {
    margin-top: -250px;
  }

  .sneakpeak_header {
    text-align: center;
  }

  .count_header {
    text-align: center;
  }

  .count_text {
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
