.homepage_section {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
}

.homepage_text_section {
  grid-area: text;
  display: flex;
  align-items: center;
  max-width: 412px;
}

.homepage_image_section {
  grid-area: image;
}

.homepage_header {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e2e2e;
  max-width: 384px;
}

.homepage_btn {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 124.34%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ec681c;
}

.homepage_btn:hover {
  color: #ec681c;
  text-decoration: none;
}

.homepage_bg {
  background: url("../../../../images/home/background_svg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -110px;
  height: 630px;
  z-index: -10;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .homepage_section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      " image"
      "text";
  }

  .homepage_text_section {
    text-align: center;
    margin: 0 auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .homepage_section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      " image"
      "text";
  }

  .homepage_text_section {
    justify-content: right;
    text-align: center;
    margin: 0 auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
