.standard_section {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
}

.standard_left_pane {
  grid-area: text;
}

.standard_right_pane {
  grid-area: image;
}

.standard_header {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #2e2e2e;
}

.standard_text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .standard_section {
    text-align: center;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "text";
  }

  .standard_left_pane {
    grid-area: text;
  }

  .standard_right_pane {
    grid-area: image;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .standard_section {
    text-align: center;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "text";
  }

  .standard_left_pane {
    grid-area: text;
  }

  .standard_right_pane {
    grid-area: image;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
