.download_bg {
  background: #ffe9b6;
  height: 110px;
}

.download_header {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  max-width: 580px;
}

.download_header_color {
  color: #ff6600;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .download_left_pane {
    display: none;
  }

  .custom-card-img {
    width: 150px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .download_left_pane {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .download_header {
    font-size: 30px;
    line-height: 30px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
