.money_bg {
  background: rgba($color: #ff6600, $alpha: 0.8);
  mix-blend-mode: normal;
}

.money_img {
  background: url("../../images/home/money_inner.jpg");
  height: 792px;
  margin-top: -35px;
}
