.homepage_money_margin {
  margin-top: 140px;
}

.test_name {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.money_section_text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.money_section_header {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
}

.blog_bg {
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .hide {
    display: none !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .hide {
    display: none !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .homepage_money_margin {
    margin-top: 100px;
  }

  .hiden {
    display: none !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .homepage_money_margin {
    margin-top: 100px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
